# Ignore Python virtual environment files
venv/

# Ignore TensorFlow checkpoints and logs
logs/
ckpt/

# Ignore streamlit cache
.cache/

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Ignore compiled Python bytecode files
*.pyc

# Ignore local image files
*.jpg
*.jpeg
*.png

# Ignore system files
.DS_Store
